-r requirements.neopixel.txt
adafruit-circuitpython-bitmap-font  # 1.5.8
adafruit-circuitpython-busdevice  # 5.1.10
adafruit-circuitpython-display-shapes  # 2.4.5
adafruit-circuitpython-display-text  # 2.22.6
adafruit-circuitpython-imageload  # 1.16.3
adafruit-circuitpython-pybadger  # 3.2.2
adafruit-circuitpython-lis3dh  # 5.1.15
adafruit-circuitpython-miniqr  # 1.3.11
